.section1 {
  position: sticky;
  top: 0;
  z-index: 2;
}

.section2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 40px;
}

.section {
  background-color: #edeceb;
}
